html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 25px;
    color: darkkhaki;
    padding: 8px;
}

#home{
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 70vh;
}

#home h1{
    color: darkkhaki;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

#home h2{
    color: whitesmoke;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.auto-type{
    color: darkgoldenrod;
}

#about{
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

#about header{
    margin: 10vh;
}

#about h3{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#about h4{
    font-size: 15px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.card{
    width: 70vw;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card img{
    width: 15vw;
    border: 2px solid #000;
    padding: 3px;
}

.info{
    width: 60%;
}

.info h5{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#about .card .info h4{
    font-size: 20px;
    color: darkgoldenrod;
    padding: 15px;
    padding-left: 0;
    margin: 0;
}

.info p{
    text-align: justify;
    font-family: 'Lucida Sans', sans-serif;
    line-height: 35px;
}

.info a{
    text-decoration: none;
    font-family: 'Lucida Sans', sans-serif;
    color: darkgoldenrod;
}

.name_mail{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#skills{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-top: 1px;
    padding-bottom: 10vh;
    height: auto;
}

#skills header{
    margin: 10vh;
}

#skills h3{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#skills p{
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 15px 0px;
}

.skillcards{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-self: center;
}

.skillcards article{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 15%;
    border: 2px dashed gray;
}

.skillcards article i{
    color: darkgoldenrod;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.skillcards article h4{
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.skillcards article p{
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #1e1e1e;
}

#cta p{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
    color: darkgoldenrod;
}

#cta button{
    border: none;
    border-radius: 35px;
    background-color: darkgoldenrod;
    height: 60px;
    padding: 0px 30px;
    margin: 0;
}

#cta button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}