html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 20px;
    color: darkkhaki;
    padding: 8px;
}

#home{
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 70vh;
}

#home h1{
    color: darkkhaki;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

#home h2{
    color: whitesmoke;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.auto-type{
    color: darkgoldenrod;
}

#about{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10vh;
}

section h3{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#about h4{
    font-size: 15px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.card{
    width: 70vw;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card img{
    max-width: 250px;
    width: auto;
    height: auto;
    object-fit: cover;
    border: 2px solid gray;
    padding: 3px;
    float: left;
}

.info{
    width: 60%;
}

.info h5{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#about .card .info h4{
    font-size: 20px;
    color: darkgoldenrod;
    padding: 15px;
    padding-left: 0;
    margin: 0;
}

.info p{
    text-align: justify;
    font-family: 'Lucida Sans', sans-serif;
    line-height: 35px;
}

.info a{
    text-decoration: none;
    font-family: 'Lucida Sans', sans-serif;
    color: darkgoldenrod;
}

.name_mail{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#skills{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10vh;
    height: auto;
}

#skills p{
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 15px 0px;
}

.skillcards{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 80%;
    align-self: center;
    margin-top: 10vh;
}

.skillcards article{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    width: auto;
    height: auto;
    border: 2px dashed gray;
}

.skillcards article i{
    color: darkgoldenrod;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.skillcards article h4{
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.skillcards article p{
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #1e1e1e;
}

#cta p{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
    color: darkgoldenrod;
}

#cta button{
    border: none;
    border-radius: 35px;
    background-color: darkgoldenrod;
    max-height: 150px;
    height: auto;
    padding: 15px 30px;
    margin: 0;
}

#cta button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#projects{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10vh;
    height: auto;
}

#projects p{
    font-family: 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 15px 0px;
}

.projectcards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10vh;
    width: 80vw;
    height: auto;
}

.projectcards a{
    width: auto;
    height: auto;
    margin-left: 20px;
}

.projectcards a img{
    max-width: 350px;
    width: auto;
    height: auto;
}